In [2]:
# memanggil modul_main dan class Transaction
from modul_main import Transaction

In [4]:
# Inisialisasi objek trnsct_123 yang akan melakukan transaksi
trnsct_123 = Transaction()

# objek trnsct menggunakan fungsi add_item untuk menginput item
trnsct_123.add_item("Ayam Goreng", 2, 20000)
trnsct_123.add_item("Pasta Gigi", 3, 15000)

Harga item yang dibeli {'Nama item': ['Ayam Goreng'], 'Jumlah item': [2], 'Harga item': [20000], 'Total harga': [40000]}
Harga item yang dibeli {'Nama item': ['Ayam Goreng', 'Pasta Gigi'], 'Jumlah item': [2, 3], 'Harga item': [20000, 15000], 'Total harga': [40000, 45000]}

In [5]:
# objek trnsct_123 menggunakan fungsi delete_item untuk menghapus item berdasarkan nama
trnsct_123.delete_item("Pasta Gigi")

Data item yang dihapus{'Nama item': ['Ayam Goreng'], 'Jumlah item': [2], 'Harga item': [20000], 'Total harga': [40000]}

In [6]:
# objek trnsct menggunakan fungsi reset_transaction untuk menghapus semua item yang telah masuk ke keranjang
trnsct_123.reset_transaction()

Semua item dihapus

In [8]:
# objek trnsct menggunakan fungsi add_item untuk menginput item
trnsct_123.add_item( "Ayam Goreng", 2, 20000)
trnsct_123.add_item( "Pasta Gigi", 3, 15000)
trnsct_123.add_item( "Mainan Mobil", 1, 20000)
trnsct_123.add_item( "Mi Instan", 5, 3000)

Harga item yang dibeli {'Nama item': ['Ayam Goreng'], 'Jumlah item': [2], 'Harga item': [20000], 'Total harga': [40000]}
Harga item yang dibeli {'Nama item': ['Ayam Goreng', 'Pasta Gigi'], 'Jumlah item': [2, 3], 'Harga item': [20000, 15000], 'Total harga': [40000, 45000]}
Harga item yang dibeli {'Nama item': ['Ayam Goreng', 'Pasta Gigi', 'Mainan Mobil'], 'Jumlah item': [2, 3, 1], 'Harga item': [20000, 15000, 20000], 'Total harga': [40000, 45000, 20000]}
Harga item yang dibeli {'Nama item': ['Ayam Goreng', 'Pasta Gigi', 'Mainan Mobil', 'Mi Instan'], 'Jumlah item': [2, 3, 1, 5], 'Harga item': [20000, 15000, 20000, 3000], 'Total harga': [40000, 45000, 20000, 15000]}

In [10]:
trnsct_123.total_price()

Total price : 120000